*{
    box-sizing: border-box;   /* Sayfamızda padding ve border gibi özellikleri eklediğimizde sayfamızın genişlemesini önlemek için ekledik */
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;  /* üstten ve alttan boşlukları eşitledik*/
    color:#003666 ;
    float: left; /* hizalamak için değer verdik logoyu sola yapıştırdık*/
}

nav{
    float: right;
    line-height: 80px; /* satır yükseliğini ayarlayıp üstten altan boşlukları ortalıyor*/
}

/* nav altındaki a etiketlerine müdahele edecez ve bu etiketin haller var oluyor */

/*todo ilk hali link hali normal gözükme durumu */
nav a:link{
    text-decoration: none; /* yazı altındaki çizgileri kaldırdık.*/
    margin-right: 15px; /* sağ tarıfından bunlara boşluk verdik*/ /*! bu marginle sayfa küçükken olan düzen bozuldu sanki*/
    color:#19d96f ;
}

/*todo ikinci hali hover yani üzerine gelindiği zaman */
nav a:hover{
    /* text-decoration: underline; (bununla yapsaydık sadece yazı altını çizecekti) */
    border-bottom: 2px solid #003666 ;
}

/*todo üçüncü hal active yani mausu tıkladığımız da yani nırakmadığımız halde oluşan durum buna çok gerek yok */

/* dördüncü hal visited tam anlıyamadım ama galiba mausu tıklayıp bıraktıktan sonra aldığı hali olmalı link durumun aynısı buraya aktardık */
nav a:visited{
    text-decoration: none; /* yazı altındaki çizgileri kaldırdık.*/
    margin-right: 25px; /* sağ tarıfından bunlara boşluk verdik*/ /*! bu marginle sayfa küçükken olan düzen bozuldu sanki*/
    color:#003666 ;
}

.ikon{
    margin-right: 7px; /* ikonlarla yazılar arası boşluk verdik*/
    font-size: 16px; 
}

#anasayfa{
    /* background-color: gray; */
    height: 600px;  /*yükseklik*/
    background-image: url("../img/r2.jpg");
    background-size: cover; /* resmi genişlik olarak alanın içine sığdırdık.*/
    background-position: center; /* resmin orta noktasını baz almış oldu*/
    background-attachment: fixed; /* bunun sayesinde aşağı kaydırmada fotonun sabit kalmasını sağladık*/

}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;  /* resim bölümüne siyah renk verdikten sonra bunun yarısını almasını ve diğer yarınında resimden yansımasını sağladık.*/
}

/* içerik id li div normal şartlarda resimden sonra konumludur onun resim üzerine konumlanmasını sağlıyacaz */
#icerik{
    position: absolute;  /* pozisyoununu değiştirecez dedik*/
    top: 50%; /* yukardan yüzde 50 ayarla dedik*/
    left: 40%; /* soldan da yüzde 40 kaydır dedik */
    transform: translate(-50%,-50%); /* yukardaki ayarları yazının başlangıç noktasına göre ayarladığı için estetik olmadığından burada yazının ortasına göre bu konumlamayı yapmasını sağladık. ilk -50% yazıyı yüzde 50 sola kaydırdı ikinciside yüzde 50 yazıyı yukarı çıkarmaktadır.*/
    /* todo bu parametrelerin ilk bence yüzde 25 olmalı ki yazı tam ortalanması için. */
    color: wheat;
    font-size: 20px;
}

#hakkimizda{
    background-color:#f8f9fa ;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;  /* içeriğimizdeki her kelimenin baş harflerinin büyük olmasını sağladık.*/
    font-weight: 600; /* yazıya kalınlık verdik.*/
}

h3{
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px 1px black; /* yazıya gölge verdik(bu yazıyı biraz bulanıklaştırdı) yatayda 0px dikeyde 1px ve dağılmasınada 1px*/
    font-weight: 600;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#sol{
    float: left;
    border-right: 3px solid #445c6e ;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5sol{
    line-height: 1.6;  /* Normal değerin 1.6 katına yani %160 değerine çıkartıyoruz*/
    font-size: 22px;
    font-weight: 600;

}

#h5sol, #sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px; /* satır yüksekliği*/
    color: #003666;
    font-weight: 600; /* yazı kalınlığı*/
    float: left; /* L harfini bulunduğu div içinde sola al dedik*/
}

#sag{
    float: right;  
    /* todo yazıyı sağa yapıştır dediğimizde yazıyı aşağıya kaydırdı bundan dolayı yazının genişliğine altta müdahele edecez. */
    width: 750px;
    color: #999;
    text-align: left;
    letter-spacing: 1px; /* harf aralıklarını ayarladık*/
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 100px;
}

#pson{
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler{
    background-color: #fff;
    padding: 50px; /*4 taraftan 50px verdik*/
    text-align: center;
    height: 700px;

}

.card{
    width: 300px;
    height: 350px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;  /* kartların yanyana düşmeleri için (display: inline-block) yaptık*/
}

.cardbaslik{
    font-size: 15px;
    color: #003666;
}

.cardp{
    color: #888;
}

/*todo mausla kartın üzerine gelindiğinde bir belirginlik oluşması için (.cardhover) özelliği ile ekleme yapacaz*/

.card:hover{
    border: 2px solid greenyellow;
}

#ekip{
    background-color: #003666;
    padding: 50px;
    height: 850px;
    text-align: center;
}

#h3ekip{
    color: white;
}

.sutun-sol-sag{
    width: 385px;
    float: left;
    padding: 50px;
}

.oval{
    border-radius: 50%;
}

.ekipisim{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}

.pekip{
    color: #888;
    font-size: 20px;
}

.social{
    color: white;
    border: 1px solid white;
    padding: 10px;
    width:50px; /* genişlik özelliği bende bi fark oluşturmadı*/
    border-radius: 5px;
    margin: 5px 10px;
}

.social:hover{
    background-color: #888;
}

.sutun-orta{
    width: 385px;
    float: left;
    padding: 10px;
}